ESPM Webservice Details/propertyUse/communityCenterAndSocialMeetingHall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="26.0">
    <xs:include schemaLocation="characteristics.xsd"/>
    <xs:include schemaLocation="propertyUse.xsd"/>
    <xs:element name="communityCenterAndSocialMeetingHall" type="communityCenterAndSocialMeetingHall">
        <xs:annotation>
            <xs:documentation>Community Center and Social Meeting Hall refers to buildings primarily used for social interactions, recreational activities, learning, and community support services. This may include community group meetings, physical and fitness activities, seminars, and workshops.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="communityCenterAndSocialMeetingHall">
        <xs:all>
            <xs:element name="name" type="propertyUseNameType"/>
            <xs:element name="useDetails">
                <xs:complexType>
                    <xs:all>
                        <xs:element ref="totalGrossFloorArea"/>
                        <xs:element ref="weeklyOperatingHours" minOccurs="0"/>
                        <xs:element ref="numberOfWorkers" minOccurs="0"/>
                        <xs:element ref="numberOfComputers" minOccurs="0"/>
                        <xs:element ref="percentHeated" minOccurs="0"/>
                        <xs:element ref="percentCooled" minOccurs="0"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="audit" type="logType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>
