ESPM Webservice Details/propertyUse/fireStation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="26.0">
    <xs:include schemaLocation="characteristics.xsd"/>
    <xs:include schemaLocation="propertyUse.xsd"/>
    <xs:element name="fireStation" type="fireStationType">
        <xs:annotation>
            <xs:documentation>Buildings used to provide emergency response services associated with fires.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="fireStationType">
        <xs:all>
            <xs:element name="name" type="propertyUseNameType"/>
            <xs:element name="useDetails">
                <xs:complexType>
                    <xs:all>
                        <xs:element ref="totalGrossFloorArea"/>
                        <xs:element ref="numberOfComputers" minOccurs="0"/>
                        <xs:element ref="percentCooled" minOccurs="0"/>
                        <xs:element ref="percentHeated" minOccurs="0"/>
                        <xs:element ref="weeklyOperatingHours" minOccurs="0"/>
                        <xs:element ref="numberOfWorkers" minOccurs="0"/>
                        <xs:element ref="numberOfFTEWorkers" minOccurs="0"/>
                        <xs:element ref="numberOfEmergencyVehicles" minOccurs="0"/>
                        <xs:element ref="numberOfAnnualEmergencyIncidents" minOccurs="0"/>
                        <xs:element ref="weeklyBuildingOccupiedHours" minOccurs="0"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="audit" type="logType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>